@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;700&display=swap');

:root{
  --bg-color: #fcf5ff;
  --text-color: #3a3a3a;
  --main-color: #ff6ebe;
}

form {
    width: 600px; 
    margin: 0 auto; 
    border: 3px solid #656262;
    border-radius: 6px;
    background-color: #f3c6e8;
    padding: 10px;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  input[type] {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #060606;
    box-sizing: border-box;
    text-align: center;
  }
  
  button {
    background-color: #be78a4;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  span.psw {
    float: right;
    padding-top: 5px;
  }
  
  h1 {
    text-align: center; 
    color: #0b0b0b;
    padding: 20px;
  }
  
  
  h2 {
    text-align: center; 
    color: #0b0b0b;
    padding: 20px;
  }

  .login-register-container {
    padding: 20px;
  }

  label {
    color: var(--text-color);
    font-weight: bold;
  }

  .fas {
    padding-right: 5px;
  }

  a {
    text-decoration: none;
    color: var(--main-color);
  }