*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #fcf5ff;
    --text-color: #3a3a3a;
    --main-color: #ff6ebe;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}
.logo-image{
    display: flex;
    align-items: center;
    margin-right: 3px;
    width: 250px;
    height: auto;
}
.nav-bar{
    display: flex;
}
.nav-bar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.nav-bar a:hover{
    color: var(--main-color);
}
.nav-bar a.active{
    color: var(--main-color);
}
.login{
    display: flex;
    align-items: center;
}
.login a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.0rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
.login a:hover{
    color: var(--main-color)
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
}