{% from 'navbar.html' import navbar, headerEnd %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luscious and Sweet Gourmet Bakery Menu</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

        <script src="{{ url_for('static', filename='activetab.js') }}" defer></script>
        <script src="{{ url_for('static', filename='adminMenu.js') }}" defer></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    </head>
    <body>
        {{ navbar() }}
        {{ headerEnd() }}

        <select name="menu" id="menuSelection">
            <option value="1">Mini Desserts</option>
            <option value="2">Dessert Trays</option>
            <option value="3">Pie & Cheesecake</option>
            <option value="4">Cupcakes</option>
            <option value="5">Dietary Specialties Goodies</option>
            <option value="6">Signature Flavor Cakes</option>
            <option value="7">Cakes</option>
        </select>

        <!-- Form 1 -->
        <div>
            <form action="{{ url_for('adminMenu') }}" method="POST" autocomplete="off" id="minidesserts">
                <label for="miniCategoryName">Category Name</label>

                <input type="hidden" value="1" id="miniMenuID" name="menuID">

                <select id="miniCategoryName" name="categoryName">
                    <option value="Mini Tart">Mini Tart</option>
                    <option value="Mini Pastries">Mini Pastries</option>
                    <option value="Mousse Cups">Mousse Cups</option>
                    <option value="Mini Cupcakes">Mini Cupcakes</option>
                    <option value="Mini Desserts">Mini Desserts</option>
                    <option value="Brownie Bites">Brownie Bites</option>
                </select>

                <label for="miniDessertName">Dessert Name</label>
                <input type="text" id="miniDessertName" name="dessertName">

                <label for="miniDessertPrice">Dessert Price</label>
                <input type="number" placeholder="0.00" step=".01" id="miniDessertPrice" name="dessertPrice" required>

                <button type="submit">Submit</button>
            </form>
        </div>
        

    </body>
</html>