{% from 'navbar.html' import navbar, signInRegister, headerEnd %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luscious and Sweet Gourmet Bakery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
        <!-- Here i link sources for free icons and fonts: 
             RemixIcons, BoxIcons, and GoogleFonts         -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

        <link rel="stylesheet"
        href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        {{ navbar() }} 
        {{ signInRegister() }}
        {{ headerEnd() }}
        <!-- Javascript link <3333 -->
        <!--script type="text/Javascript" src="js/script.js"></script-->

    </body>
</html>