{% from 'navbar.html' import navbar, signInRegister, headerEnd %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luscious and Sweet Gourmet Bakery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- Laiba's sources for free icons and fonts: RemixIcons, BoxIcons, and GoogleFonts -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap">
        <!-- JavaScript executes after HTML loads -->
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
        <script src="{{ url_for('static', filename='activetab.js') }}" defer></script>
    </head>
    <body>
        {{ navbar() }} 
        {{ signInRegister() }}
        {{ headerEnd() }}

        <!-- Include the gallery template here -->
        {% include 'gallery.html' %}
</body>
</html>