{% macro navbar() %}
<header>
    <a href="{{ url_for('homepage') }}" class="logo">
        <img src="{{ url_for('static', filename='images/luscious-sweet-gourmet-bakery__logo.png') }}" alt="LS-logo" class="logo-image">
    </a>
    <nav>
        <ul class="nav-bar">
            <li><a href="{{ url_for('order') }}">Order Now</a></li>
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('galleryphotos') }}">Gallery</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li>
            <li><a href="{{ url_for('adminPage') }}">Admin Page</a></li>
            <li><a href="{{ url_for('login') }}" class="user"><i class="ri-user-fill"></i>Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
    </nav>
        <!-- <div class="login">
            <a href="{{ url_for('login') }}" class="user"><i class="ri-user-fill"></i>Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div> -->
{% endmacro %}  
  
{% macro headerEnd() %}
</header>
{% endmacro %}

