{% macro navbar() %}
<header>
    <a href="{{ url_for('homepage') }}" class ="logo">
        <img src="{{ url_for('static', filename='images/luscious-sweet-gourmet-bakery__logo.png') }}" alt="LS-logo" class="logo-image">
    </a>
<nav>
    <ul class="nav-bar">
        <li><a href="{{ url_for('order') }}">Order Now</a></li>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('menu') }}">Menu</a></li>
        <li><a href="{{ url_for('addMenu') }}">Admin Menu</a></li> <!-- Redirects to addMenu for now -->
    </ul>
</nav>
{% endmacro %}

{% macro signInRegister() %}
<div class="login">
    <a href="{{ url_for('login') }}" class="user"><i class= "ri-user-fill"></i>Sign In</a>
    <a href="{{ url_for('register') }}">Register</a>
    <div class="bx bx-menu" id="menu-icon"></div>             
</div>
{% endmacro %}

{% macro headerEnd() %}
</header>
{% endmacro %}