{% from 'navbar.html' import navbar, headerEnd %}
<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Order</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        </head>

    <body>    
        {{ navbar() }}
        {{ headerEnd() }}

        <form action = "{{ url_for('order') }}" method = "POST" autocomplete= "off">
            <h1>Request an Order</h1>
            <p>Fill out an order request now, and our pastry chefs will get back to you!</p>

            <label for="Flavor">Cupcake Flavor:</label> 
            <select name="flavor" id="flavors"> 
               <option value="Fudge">Fudge Brownie Explosion</option> 
               <option value="Carrot">24Karrot</option> 
               <option value="Vanilla Birthday">Vanilla Birthday</option> 
               <option value="Chocolate Birthday">Chocolate Birthday</option> 
            </select required>

            <label for="Size">Size:</label> 
            <select name="size" id="flavors"> 
                <option value="Gourmet (large)">Gourmet Size(large)</option> 
                <option value="Birthday (medium)">Birthday (medium)</option> 
                <option value="Mini">Mini</option>  
            </select required>

            <label for="Quantity"> Quantity:</label>
            <input type="number" id="Quantity" name="quantity" min="1" max="45" required>

            <label for="Decor"> Decor Requests:</label>
            <textarea name="decor" minlength="5" maxlength="200">
            </textarea>
            <p>{{msg}}</p>

            <input type="submit" value="Submit Order">

        </form>
    </body>
</html>