{% from 'navbar.html' import navbar, headerEnd %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
	<body>
        {{ navbar() }}
        {{ headerEnd() }}
        <section>
            <div class="register">
                <h1>Register</h1>
                <form action="{{ url_for('register') }}" method="post" autocomplete="off">
                    <label for="firstname">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="firstname" placeholder="First Name" id="firstname" required>

                    <label for="lastname">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="lastname" placeholder="Last Name" id="lastname" required>

                    <label for="email">
                        <i class="fas fa-envelope"></i>
                    </label>
                    <input type="email" name="email" placeholder="Email" id="email" required>
                    
                    <label for="password">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="password" placeholder="Password" id="password" required>

                    <label for="phone">
                        <i class="fas fa-phone"></i>
                    </label>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="201-555-0123" required> <!-- Pattern doesn't validate international phone numbers -->

                    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                    <button type="submit" value="registerAccount">Submit</button>
                    
                    <div class="container signin">
                        <p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a>.</p>
                    </div>
                    <p>{{ msg }}</p>
                </form>
            </div>
        </section>
	</body>
</html>