{% from 'navbar.html' import navbar, headerEnd %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Previous Orders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='activetab.js') }}" defer></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {{ navbar() }}
    {{ headerEnd() }}

    <div class="container-xl px-4 mt-4">
    
        <nav class="nav nav-borders">
        <a class="nav-link" href="{{ url_for('static', filename='adminPage.html') }}" target="__blank">Admin Page</a>
        <a class="nav-link active ms-0" href="{{ url_for('static', filename='viewTodaysOrders.html') }}" target="__blank">Today's Orders</a>
        </nav>
        
        <hr class="mt-0 mb-4">
        <div class="row">
        <div class="col-xl-4">

    <h1>Today's Orders</h1>

    <div id="orders">
        <!-- This is where the orders will be dynamically added -->
         <div class="order">
             <p>Today's Date: {{ today }}</p>
            <ul>
                {%for order in orders %}
                  <li>For: {{order[5] }} {{ order[6] }}, Confirmation Number:{{ order[1] }}, Pick Up Time: {{ order[4] }}</li>
                {%end for%}
                </ul>
                <ul>
                    {%for key in orderInfo%}
                        {for info in orderInfo[key]}
                        <li>Confirmation Number: {{ info[1] }}, Item: {{ info[2] }}, Size: {{ order[3] }}, Flavor: {{ order[4] }}, Quantity: {{ info[5] }}, Special Requests: {{ info[6] }}</li>
                        {%end for%}
                    {%end for%}
                </ul>
            </div>
    </div>
</body>
</html>