{% from 'navbar.html' import navbar, headerEnd %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Previous Orders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='activetab.js') }}" defer></script>
</head>

<body>
    {{ navbar(employee, loggedin) }}
    {{ headerEnd() }}

    <div class="container-xl px-4 mt-4">
    
        <nav class="nav nav-borders">
            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
            <a class="nav-link active ms-0" href="{{ url_for('viewOrder') }}">Your Orders</a>
        </nav>
        
        <hr class="mt-0 mb-4">
        <div class="row"></div>
        <div class="col-xl-4"></div>

    <h1 class="header">Previous Orders</h1>

    <label for="orderFilter">Filter Orders:</label>
    <select id="orderFilter">
        <option value="today">Today</option>
        <option value="past_week">Past Week</option>
        <option value="all">All Orders</option>
    </select>

    <div id="orders">
        <!-- This is where the orders will be dynamically added -->
        
        <div class="order">
            <ul>
                {% for order in orders %}
                    <li><b>For:</b> {{ order[5] }} {{ order[6] }}</li>
                    <li><b>Confirmation Number:</b> {{ order[1] }}</li>
                    <li><b>Pick Up Time:</b> {{ order[4] }}</li>
                {%endfor%}

                    <table class="table">
                        <thead>
                            <th>Item</th>
                            <th>Size</th>
                            <th>Flavor</th>
                            <th>Quantity</th>
                            <th>Special Requests</th>
                        </thead>
                        <tr>
                            {% for key in orderInfo %}
                                {% for info in orderInfo[key] %}
                                    <tr>
                                        <td>{{ info[2] }}</td>
                                        <td>{{ info[3] }}</td>
                                        <td>{{ info[4] }}</td>
                                        <td>{{ info[5] }}</td>
                                        <td>{{ info[6] }}</td>
                                    </tr>
                                {%endfor%}
                            {%endfor%}
                        </tr>
                    </table>
            </ul>
        </div>
    </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>